// dimensions
$break-small-horiz: 500px;
$break-small-vert: 500px;
$break-wide-horiz: 1000px;
$break-wide-vert: 1000px;

$content-max-width: 800px;

$card-idle-height-small: 150px;
$card-idle-height-normal: 250px;
$card-idle-height-large: 250px;

$card-hover-height-small: 200px;
$card-hover-height-normal: 300px;
$card-hover-height-large: 400px;


// colors
$background: #efefef;
$background-dark: #c5c5c5;

$card-header: #3c3c5c;
$card-header-text: #fffffa;
$card-body: #fffffa;
$card-body-text: #2f2849;